/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: red;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.logout-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #1b1b1b;
    padding: 20px 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select, textarea {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

input, select {
    height: 40px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.address {
    display: flex;
    gap: 10px;
}

address input {
    flex: 1;
}
